<% @appointments.each do |appointment| %>
<div class="col-md-12 mb-3">
    <% if appointment.scheduled? %>
      <div class="card h-100" style="background-color: springgreen;">
    <% elsif appointment.completed? %>
      <div class="card h-100" style="background-color: #D3D3D3;">
    <% elsif appointment.canceled? %>
      <div class="card h-100" style="background-color: #fa8072;">
    <% end %>
    <div class="row no-gutters">
        <div class="col-md-4">
        <div class="card-img-container">
        <a href="<%= appointment_path(appointment) %>">
            <% if appointment.user.avatar.attached? %>
                <%= image_tag(appointment.user.avatar, class: "card-img", alt: appointment.user.name) %>
            <% else %>
                <%= image_tag('/no_avatar.jpg', class: "card-img", alt: appointment.user.name) %>
            <% end %>
        </a>
        </div>
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <a href="<%= appointment_path(appointment) %>" class="text-decoration-none text-dark">
              <h5 class="card-title"><%= appointment.user.name %></h5>
            </a>
            <p class="card-text"><strong>Дата:</strong> <%= appointment.time_slot.date.strftime("%d/%m/%Y") %></p>
            <p class="card-text"><strong>Час:</strong> <%= appointment.time_slot.time.strftime("%H:%M") %></p>
            <p class="card-text"><strong>Статус:</strong> <%= appointment.ukr_status %></p>
        </div>
        </div>
    </div>
    </div>
</div>
<% end %>