
<h1>Find the doctor by the category</h1>
<%= form_tag doctors_index_path, :method => 'get' do %>
<%= collection_select :doctor, :category_id, Category.all, :id, :name, prompt: true %>
<%= submit_tag "Find"%>
<%end%>

<br/>
<a href="/appointments/new" class="btn btn-primary">New appointment</a>

  <div>
  <% @doctors.each do |doctor|%>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= doctor.name %></h5>
      <p class="card-text">Category:  <%= doctor.category.present? ? doctor.category.name : "-"%> </p>
       
    </div>
  </div>
</div>
<%end%>
