<style>
.card-img {
    max-height: 270px; /* Задайте желаемую максимальную высоту для фото врача */
    max-width: 270px; /* Задайте желаемую максимальную ширину для фото врача */
  }
</style>

<div class="row">
  <div class="col-md-4">
    <%= form_tag appointments_path, method: :get, class: "form-inline mb-3" do %>
      <div class="form-group mr-2">
        <%= label_tag :date, "Дата" %>
        <%= date_field_tag :date, params[:date], class: "form-control" %>
      </div>
      <div class="form-group mr-2">
        <%= label_tag :status, "Статус" %>
        <%= select_tag :status, options_for_select(["Заплановані", "Завершені", "Скасовані"], params[:status]), class: "form-control", include_blank: 'Всі статуси' %>
      </div>
      <%= submit_tag "Фільтрувати", class: "btn btn-primary", style: "margin-top: 12px" %>
    <% end %>
  </div>

  <% if @appointments.present? %>
    <% if current_doctor %>
      <%= render 'shared/appointments/doctor_appointments' %>
    <% elsif current_user %>
      <%= render 'shared/appointments/user_appointments' %>
    <% end %>
  <% else %>
    <h2 class="text-center">Немає візитів</h2>
    <div class="form-group mr-2 text-center">
      <%= link_to 'Створити новий візит', our_doctors_path, class: 'btn btn-primary' if current_user.present? %>
    </div>
  <% end %>
</div>